<%= form_for(@submit_request) do |f| %>
  <% if @submit_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submit_request.errors.count, "error") %> prohibited this submit_request from being saved:</h2>

      <ul>
      <% @submit_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% f.hidden_field :user_id %>

  <div class="container">
    <div class="row">
        <%= f.label "タスク" %> :
        <%= f.collection_select :task_id, Task.where(charge_id: current_user.id), :id, :title %>
    </div><br />

    <div class="row">
        <%= f.label "メッセージ" %>
        <%= f.text_area :message %>
    </div><br />

    <div class="row">
        <%= f.label "タスク依頼先" %>
        <%= f.collection_select :request_user_id, User.where.not(id: current_user.id), :id, :name %>
    </div><br />

    <div class="row">
        <%= f.label :状態 %> :
        <%= f.number_field :status %>
    </div><br />

    <div class="actions">
        <%= f.submit %>
    </div>
  </div>
<% end %>
